<body>
  <nav
    class="navbar navbar-expand-lg"
    style="height: 80px; background-color: #181a20"
  >
    <div class="container-fluid">
      <a class="navbar-brand text-warning fw-bold" href="#">BINANCE</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Buy Crypto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Markets</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="tradeDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Trade
            </a>
            <ul class="dropdown-menu" aria-labelledby="tradeDropdown">
              <li>
                <a class="dropdown-item" href="#" style="color: white"
                  >Option 1</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: white"
                  >Option 2</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="futuresDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              Futures
            </a>
            <ul class="dropdown-menu" aria-labelledby="futuresDropdown">
              <li>
                <a class="dropdown-item" href="#" style="color: white"
                  >Option 1</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: white"
                  >Option 2</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Earn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white">Square</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="moreDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: white"
            >
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="moreDropdown">
              <li>
                <a class="dropdown-item" href="#" style="color: white"
                  >Option 1</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: white"
                  >Option 2</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
          <button class="btn btn-outline-light me-2" type="button">
            Log In
          </button>
          <button class="btn btn-warning" type="button">Sign Up</button>
        </div>
      </div>
    </div>
  </nav>
</body>
