<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Binance <%= title%> Price</title>
    <style>
      #container {
        height: 400px;
        min-width: 600px;
      }
    </style>
  </head>
  <body>
    <h1>Real-time <%= title %> Price with SMA</h1>
    <input type="hidden" id="title" value="<%= title %>" />
    <div id="container"></div>

    <input id="currencyCoin" value="<%= currencyCoin %>" type="hidden" />

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="/js/chart.js"></script>
  </body>
</html>
