body {
  background-color: #181a20;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}

.parentContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

.mainContent {
  display: flex;
  flex: 1;
  margin: 5px;
  flex-direction: row-reverse;
}

.leftContainer {
  flex: 0 0 350px;
  background-color: #20232a;
  padding: 15px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}

.leftContainer h4 {
  margin: 0 0 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #3a3f47;
  font-size: 18px;
}

#orderBook {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#orderBook thead th {
  text-align: left;
  font-weight: bold;
  padding: 8px;
  background-color: #3a3f47;
  color: white;
}

#orderBook tbody td {
  padding: 8px;
  border-top: 1px solid #3a3f47;
}

#orderBook tbody tr:hover {
  background-color: #3a3f47;
}

.chartContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20232a;
  border-radius: 10px;
  color: white;
  position: relative;
  margin: 0;
}

#trading-view-chart {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .mainContent {
    flex-direction: column;
  }

  .leftContainer {
    flex: 1;
    margin-bottom: 10px;
  }

  .chartContainer {
    margin: 0;
  }
}
